<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>使用者註冊</h1>

  <%= form_for(User.new, url: '/sign_up', method: 'post') do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirm, "確認密碼"%>
  <%= f.password_field :password_confirm %>

  <%= f.submit "註冊"%>

  <% end %>

  <%# <form action="/sign_up" method="POST">
    <label for="email">email：
    <input type="email" id="email">
    </label>

    <label for="password">password：
    <input type="password" id="password">
    </label>
 
    <label for="password_confirm">password-confirm：
    <input type="password" id="password_confirm">
    </label>

    <button type="submit" value="sign_up">註冊</button>
  </form> %>

</body>

</html>